@model int


<h2>System In Development Configuration</h2>

<div class="application-button-bar application-button-bar-center">
    <label>Configuration Items</label>
    <div><a href='@Url.Action("Layers", "SystemConfig")'>Layers</a></div>
    <div><a href='@Url.Action("Subsystems", "SystemConfig")'>Subsystems</a></div>
    <div><a href='@Url.Action("Enumerations", "SystemConfig")'>Enumerations</a></div>
    <div><a href='@Url.Action("complexityComponents", "SystemConfig")'>Complexity Components</a></div>
</div>
